@font-face {
  font-family: 'NeoSansIntel';
  src: url('../../font/neosansintel.eot');
  src: url('../../font/neosansintel.eot?#iefix') format('embedded-opentype'), 
  url('../../font/neosansintel.woff') format('woff'), url('../font/neosansintel.ttf') 
  format('truetype'), url('../../font/neosansintel.svg#neosansintel') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NeoSansIntelMedium';
  src: url('../../font/neosansintel-medium.eot');
  src: url('../../font/neosansintel-medium.eot') format('embedded-opentype'), 
  url('../../font/neosansintel-medium.woff') format('woff'), 
  url('../../font/neosansintel-medium.ttf') format('truetype'), 
  url('../../font/neosansintel-medium.svg#NeoSansIntelMedium') format('svg');
}


body
{
	font-size: 13px;
	background-color: #fff;
	text-align:justify;
	font-family: 'NeoSansIntelMedium',Tahoma,"Open Sans",Verdana,Arial,serif;
}
p
{
text-align:justify;
}
.caret{
	color:#fff;
}

.fa
{
	color:#fff;
}

.color-white{
	color:#fff;
}
.body-content
{
	font-size:18px;
	padding: 10px;
	margin-bottom:10px;
	background: #fff;
	color:#3C3C3C;
	box-shadow: 6px 6px 1px #eeeeee;
	font-family: 'NeoSansIntel',Tahoma,"Open Sans",Verdana,Arial,serif;
}

.berita-content
{
	font-size:13px;
	margin-bottom:10px;
	background: #FAFAFA;
	color:#3C3C3C;
	height: 500px;
	box-shadow: 6px 6px 1px #eeeeee;
	font-family: 'NeoSansIntel',Tahoma,"Open Sans",Verdana,Arial,serif;
}

.berita-detail
{
	font-size:14px;
	margin-bottom:10px;
	background: #fafafa;
	color:#3C3C3C;
	box-shadow: 6px 6px 1px #eeeeee;
	font-family: 'NeoSansIntel',Tahoma,"Open Sans",Verdana,Arial,serif;
}

.berita-content:hover
{
	box-shadow: 6px 6px 1px #cbcaca;
}

.berita-content h3
{
	color: #34495e;
	text-align:left;
}
.berita-content h6
{
	color: #34495e;
}

.berita-content:hover h3
{
	color: #2980B9;
}

.berita-content:hover h6
{
	color: #2980B9;
}

.berita-content-img
{
	position: relative;
	height: 200px;
	width: auto;
	overflow: hidden;
	margin: auto;
	background-position: center;
	/* border-bottom:1px solid #7DA14B; */
}

.berita-content-img img
{
	width: 100%;
	display: block;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.berita-detail-img
{
	position: relative;
	height: 400px;
	width: auto;
	overflow: hidden;
	margin: auto;
	background-position: center;
	/* border-bottom:1px solid #7DA14B; */
}

.berita-detail-img img
{
	width: 100%;
	display: block;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}
.berita-content-text
{
	padding:20px;
	padding-top:1px;
	overflow: hidden;
}

.berita-content-text p
{
	white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis; 
	font-family: 'NeoSansIntelMedium',Tahoma,"Open Sans",Verdana,Arial,serif;
}

.text-berita {
    white-space: wrap; 
	width: 100%; 
    height: 10em; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.berita-detail-text
{
	padding:25px;
}

.berita-content-judul
{
	padding-left:25px;
	padding-right:25px;
	margin-top: -15px;
	height: 80px;
	text-align: center;
}

.berita-content-text h4
{
	color: #000;
	margin-bottom:10px;
}

.berita-content .fa
{
	font-family: FontAwesome;
	line-height: 1;
	color: #2980B9;
	margin-top: 0;
	margin-bottom: 15px;
	-webkit-font-smoothing: antialiased;
}

.berita-detail-text h3
{
	margin:0;
	margin-bottom:10px;
}
.berita-detail .fa
{
	font-family: FontAwesome;
	line-height: 1;
	color: #2980B9;
	margin-top: 0;
	margin-bottom: 15px;
	-webkit-font-smoothing: antialiased;
}

.overlay-container {
	z-index:500;
	position: relative;
	height: 163px;
	overflow: hidden;
}

.overlay-container img{
	z-index:500;
	height: 100%;
	display: block;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.regulasi-content
{
	font-size:13px;
	margin-bottom:10px;
	background: #fafafa;
	color:#3C3C3C;
	box-shadow: 6px 6px 1px #eeeeee;
	font-family: 'NeoSansIntelMedium',Tahoma,"Open Sans",Verdana,Arial,serif;
}
.regulasi-content-text
{
	padding:20px;
	padding-top:5px;
	font-family: 'NeoSansIntelMedium',Tahoma,"Open Sans",Verdana,Arial,serif;
}

.regulasi-content-text p
{	
	font-family: 'NeoSansIntelMedium',Tahoma,"Open Sans",Verdana,Arial,serif;
}


.lembaga-content
{
	font-size:13px;
	background: #FAFAFA;
	color:#3C3C3C;
	height: 350px;
	box-shadow: 6px 6px 1px #eeeeee;
	font-family: 'NeoSansIntel',Tahoma,"Open Sans",Verdana,Arial,serif;
}	
.lembaga-title
{
	text-transform:uppercase;
	text-align:center;
}

.lembaga-content-text
{
	display: flex;
    justify-content:center;
	text-transform:uppercase;
	margin-top: -10px;
}

.lembaga-content-text2
{
	display: flex;
    justify-content:center;
	text-transform:uppercase;
	margin-top:-20px;
}

.lembaga-content:hover
{
	box-shadow: 6px 6px 1px #cbcaca;
}

.lembaga-content h3
{
	color: #34495e;
	text-align:center;
}

.lembaga-content-text h4
{
	color: #000;
}

.lembaga-content h6
{
	color: #34495e;
}

.lembaga-content:hover h3
{
	color: #000;
}

.lembaga-content:hover h6
{
	color: #2980B9;
}

.lembaga-content-img
{
	width: 300px;
	height: 300px;
	margin-top: 10px;
	margin-bottom: -25px;
}


.rt_rw-content
{
	position: relative;
	font-size:11px;
	background: #FAFAFA;
	color:#3C3C3C;
	height: auto;
	width: auto;
	box-shadow: 6px 6px 1px #eeeeee;
	font-family: 'NeoSansIntel',Tahoma,"Open Sans",Verdana,Arial,serif;
	text-align:center;
}	
.rt_rw-title
{
	text-transform:uppercase;
	text-align:center;
	margin-top: -15px;
}

.rt_rw-content-text
{
	display: flex;
    justify-content:center;
	text-transform:uppercase;
	margin-top: -15px;
	margin-bottom: 15px;
	padding-bottom: 10px;
}

.rt_rw-content-text2
{
	display: flex;
    justify-content:center;
	text-transform:uppercase;
	margin-top:-20px;
	
	position: fixed;
}

.rt_rw-content:hover
{
	box-shadow: 6px 6px 1px #cbcaca;
}

.rt_rw-content h3
{
	color: #34495e;
	text-align:center;
}

.rt_rw-content-text h4
{
	color: #000;
}

.rt_rw-content h6
{
	color: #34495e;
}

.rt_rw-content:hover h3
{
	color: #000;
}

.rt_rw-content:hover h6
{
	color: #2980B9;
}

.rt_rw-content-img
{
	position: fixed;
	text-align:center;
}

.rt_rw-content-img img
{
	position: relative;
	text-align:center;
	float: center;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, 
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, 
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, 
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, 
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, 
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, 
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, 
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, 
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, 
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
 .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
position: relative;
min-height: 1px;
padding-left: 15px;
padding-right: 15px;
padding-bottom: 15px;
}

/* Navbar toggle */
.navbar-toggle{
	position:relative;
	float:right;
	background-color:#34495E;
	background-image:none;
	border:1px solid #fff;
	border-radius:0;
}

.navbar .navbar-toggle .icon-bar{
	background-color:#fff;
}

.navbar .navbar-toggle .icon-bar hover{
	background-color:#000;
}

.navbar
{
	width: 100%;
	font-size:13px;
	float: right;
	border-radius: 0;
	background-color: #34495e;
	text-transform: uppercase;
	font-family: 'NeoSansIntelMedium',Tahoma,"Open Sans",Verdana,Arial,serif;
}

.navbar a
{
	color: #fff;
	
}

.navbar li a:hover
{
	color: #red;
	background-color:#0A4A00;
	margin: 0px;
}


.navbar li {
	border-right:1px solid #fff;
}


.navbar li.active 
{
	color: #red;
	background-color: #22313F;
}

.navbar li.active a:after
{
	border-left:7px solid transparent;
	border-right:7px solid transparent;
	border-top:7px solid #22313F;
	content:"";
	width:0;
	height:0;
	position:absolute;
	bottom:-7px;
	left:50%;
	margin-left:-7px;
}

.navbar active
{
	background-color: #22313F;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	background-color: #22313F;
	color: #f1c40f;
}

.nav>li>a:hover, .nav>li>a:focus {
	text-decoration: none;
	color: #f1c40f;
	background-color: #22313F;
}

.navbar-nav>li>.dropdown-menu {
	margin-left:-1px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	padding: 0;
	padding-top: 0;
}

/*navbar bagian search*/
.navbar-nav.navbar-right:last-child {
margin-right: 0;
}

.dropdown-menu>li {
	border-right:1px solid transparent;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	padding: 5px 0;
	margin: 10px;
	list-style: none;
	font-size: 14px;
	background-color: #34495e;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	background-clip: padding-box;
}

.dropdown-menu li a:hover{
	color: #f1c40f;
	background-color: #22313F;
}

.dropdown-menu li a{
	color: #fff;
	border-top:1px solid #34495e;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 11px;
    left: 100%;
    margin-top: -12px;
    margin-left: 0px;
	padding-top: 0;
	padding-bottom: 0;
    -webkit-border-radius: 0 0px 0px 0px;
    -moz-border-radius: 0 0px 0px;
    border-radius: 0 0px 0px 0px;
    border-bottom: 0px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 0px 0 0px 0px;
}


/***************************************  *****************************************/
/*** Navbar Search ***/
.navbar-nav > li #navbar-search-box {
  position: absolute;
  right: 0;
  bottom: -69px;
  width: 250px;
  padding: 15px;
  background: white;
  border: 1px solid #ddd;
  border-top: 3px solid #f1c40f;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.175);
}
.navbar-nav > #navbar-search > a > i.fa-times {
  margin: 0 1px;
}
/* ===== Carousel ===== */
/*** Slideshow controls ***/
a.carousel-arrow {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -25px;
  background: transparent;
  color: transparent;
  font-size: 32px;
  font-weight: 300;
  cursor: pointer;
  -webkit-transition: background 300ms, color 300ms;
  -o-transition: background 300ms, color 300ms;
  transition: background 300ms, color 300ms;
}
.carousel:hover a.carousel-arrow {
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
}
.carousel:hover a.carousel-arrow:hover,
.carousel:hover a.carousel-arrow:active {
  background: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}
a.carousel-arrow-prev {
  left: 10px;
  right: auto;
  padding-right: 5px;
}
a.carousel-arrow-next {
  right: 10px;
  left: auto;
  padding-left: 5px;
}

/* ===== Homepage Slider ===== */
.home-slider {
  margin-bottom: 5px;
  color: #fff;
}
.home-slider .carousel-inner > .item {
  height: 450px;
  overflow: hidden;
  background-color: #f6f6f6;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover !important;
}
.home-slider .carousel-inner > .item .bg-img {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
}
.home-slider .carousel-inner > .item .bg-img img {
  height: 100%;
  width: auto;
 
}
.home-slider .carousel-inner > .item .home-slider__content {
  padding-top: 80px;
}
.home-slider h3,h4 {
  color: #fff;
}
.home-slider p {
  margin: 35px 0;
  line-height: 1.5;
}
.home-slider ul {
  list-style-type: none;
  padding: 0;
}
.home-slider #item-1 {
  background-image: url(../img/1a.jpg);
  background-position: bottom center;
}
.home-slider #item-2 {
  background-image: url(../img/2a.jpg);
  text-align: center;
}
.home-slider #item-2 ul {
  margin-top: -5px;
}
.home-slider #item-2 ul > li {
  text-align: center;
}
.home-slider #item-2 ul > li > span {
  display: inline-block;
  margin-bottom: 3px;
  padding: 3px 15px;
  background: rgba(155, 201, 73, 0.9);
  color: white;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.175);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.175);
}
.home-slider #item-2 ul.string > li > span {
  background: rgba(155, 201, 73, 0.9);
}
.home-slider #item-3 {
  background-image: url(../img/3a.jpg);
  text-align:right;
}
.home-slider #item-3 h4 {
  color:#fff;
}
.home-slider #item-3 ul {
  
}
.home-slider #item-3 ul > li {
  font-size: 18px;
  padding: 5px 0;
}
.home-slider #item-3 ul > li > i {
  color: #9bc949;
}
@media (max-width: 991px) {
  .home-slider .carousel-inner > .item .home-slider__content {
    padding-top: 50px;
  }
}
@media (max-width: 767px) {
  .home-slider .carousel-inner > .item {
    text-align: center;
  }
  .home-slider .carousel-inner > .item .home-slider-content {
    padding-top: 50px;
  }
  .home-slider #item-2 ul > li {
    text-align: left;
  }
  .home-slider #item-2 ul > li > span {
    font-size: 22px;
    margin-bottom: 7px;
  }
  .home-slider #item-3 ul {
    text-align: left;
    margin-left: 50px;
  }
  

}
.btn-default {
	color: #FFF;
	background-color: #f1c40f;
	border-color: #f39c12;
}
.btn-default:hover {
	background-color: #22313F;
	border-color: #fff;
	color: #fff;
	}

.btn-default:focus {
	background-color: #22313F;
	border-color: #fff;
	color: #fff;
}

.btn-berita {
	color: #fff;
	background-color: #f1c40f;
	border-color: #f1c40f;
	border-radius:0;
}
.btn-berita:hover {
	color: #fff;
	background-color: #34495e;
	border-color: #34495e;
}
.btn-berita:focus {
	color: #fff;
	background-color: #34495e;
	border-color: #34495e;
}

.backtotop {
	z-index:999999;
	background: #f1c40f;
	border: 1px solid #f39c12;
	padding: 10px 15px;
	font-size: 20px;
	color: #FFF;
	border-radius: 0px;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.backtotop:hover {
	z-index:999999;
	background: #22313F;
	border: 1px solid #fff;
	padding: 10px 15px;
	font-size: 20px;
	color: #fff;
	border-radius: 0px;
}

/* 9 Owl carousel
----------------------------------------------------------------------------- */
.owl-carousel {
	z-index: 4;
}
.owl-carousel .owl-item>div {
	margin: 10px 0 20px;
}
.owl-carousel.carousel .owl-item>div,
.owl-carousel.carousel-autoplay .owl-item>div {
	margin: 10px 20px 20px 0;
}
.owl-carousel.clients .owl-item>div {
	margin: 0px 30px 0px 0;
}
.well.owl-carousel .owl-item>div {
	margin: 10px 0 0;
}
.tab-content .owl-carousel .owl-item>div {
	margin: 0 0 20px;
}

/* caption */
.caption {
	background-color: rgba(255, 255, 255, 0.85);
	padding: 15px;
	position: absolute;
	bottom: 80px;
	left: 80px;
	width: 40%;
	border: 1px solid #ffffff;
}
.caption .title {
	margin-top: 0;
}

/* Medium devices (desktops, tablets less than 991px) */
@media (max-width:991px) {
	.caption {
		width: 90%;
		bottom: 40px;
		left: 40px;
	}
}

/* Small devices (tablets, phones less than 767px) */
@media (max-width:767px) {
	.caption {
		width: 100%;
		bottom: 30px;
		left: 0;
		position: relative;
		background-color: #fafafa;
		bottom: 0;
		padding-bottom: 35px;
	}
}

/* owl controls */
.owl-controls {
	width: 100%;
	margin-bottom: 50px;
}
.owl-controls .owl-buttons div {
	display: inline-block;
	zoom: 1;
	padding: 3px 10px;
	font-size: 12px;
	position: absolute;
	width: 30px;
	height: 30px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.owl-prev {
	left: 0;
	background-color: #22313F;
	color: #f1f1f1;
}
.owl-next {
	left: 30px;
	background-color: #f1f1f1;
	color: #f1c40f;
}
.owl-prev:hover,
.owl-next:hover,
.gray-bg .owl-next:hover {
	background-color: #333333;
	color: #f1f1f1;
}
.gray-bg .owl-next {
	background-color: #ffffff;
}
.owl-controls .owl-buttons div:after {
	font-family: "NeoSansIntelMedium";
	font-size: 18px;
	line-height: 26px;
}
.owl-prev:after {
	content: "<";
}
.owl-next:after {
	content: ">";
}
.no-touch .owl-controls.clickable .owl-buttons div:hover {
	filter: Alpha(Opacity=100);
	opacity: 1;
	text-decoration: none;
}
.content-slider-with-controls {
	margin-bottom: 20px;
}
.content-slider-with-controls .owl-controls,
.content-slider-with-controls-autoplay .owl-controls {
	margin-bottom: 0;
}
.content-slider-with-controls .owl-buttons div,
.content-slider-with-controls-autoplay .owl-buttons div {
	top: 50%;
	margin-top: -15px;
	background-color: #e84c3d;
	color: #f1f1f1;
}
.content-slider-with-controls .owl-buttons div.owl-next,
.content-slider-with-controls-autoplay .owl-buttons div.owl-next {
	left: auto;
	right: 0;
}
.content-slider-with-controls .owl-prev:hover,
.content-slider-with-controls .owl-next:hover,
.content-slider-with-controls-autoplay .owl-prev:hover,
.content-slider-with-controls-autoplay .owl-next:hover {
	background-color: #f1f1f1;
	color: #e84c3d;
}
.content-slider-with-controls-bottom .owl-controls .owl-pagination {
	bottom: -30px;
}
.content-slider-with-controls-bottom .owl-controls .owl-page span {
	background: #acacac;
}
.owl-controls .owl-pagination {
	position: absolute;
	bottom: 25px;
	text-align: center;
	margin: 0 auto;
	display: block;
	width: 100%;
}
.owl-controls .owl-page {
	display: inline-block;
	zoom: 1;
}
.owl-controls .owl-page span {
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 4px;
	background: #ffffff;
}
.owl-controls .owl-page.active span,
.owl-controls.clickable .owl-page:hover span {
	background: #e84c3d;
}

/* Image Boxes
---------------------------------- */
.image-box {
	background-color: #fafafa;
	border: 1px solid #f3f3f3;
	height: 275px;
}
.image-box-img
{
	position: relative;
	height: auto;
	width: auto;
	overflow: hidden;
	margin: auto;
	background-position: center;
	/* border-bottom:1px solid #7DA14B; */
}

.image-box-img img
{
	height: auto;
	width: 100%;
	display: block;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}
.grid-space-0 .image-box {
	border: none;
}
.image-box h3.title {
	margin-top: 0;
}
.image-box .btn {
	border-color: transparent;
}
.image-box .btn-block {
	margin: 0;
}
.image-box-body {
	padding: 10px 15px;
	height: 100%;
	text-align: center;
}

.image-box-body .fa{
	color: #34495e;
}

.image-box-body .fa:hover{
	color: #f1c40f;
}

.image-box-body a{
	color: #22313F;
}

.image-box-body a:hover {
	color: #f1c40f;
	text-decoration:none;
}


/* Lists
---------------------------------- */
ul {
	list-style: square;
}
.list-icons,
.list {
	list-style: none;
	padding: 0;
}
.list-icons li,
.list li {
	padding: 5px 0;
}
.list-icons li i {
	width: 25px;
	text-align: center;
}
.list li .vertical-divider {
	padding-right: 15px;
	position: relative;
}
.list li .vertical-divider:after {
	position: absolute;
	content: "";
	height: 60%;
	width: 1px;
	background-color: #CECECE;
	right: 9px;
	top: 5px;
}
.list-inline {
	margin-top: 9px;
	margin-bottom: 8px;
}
/* Footer */
.footer-atas
{
	width: 100%;
	background-color: #22313F;
	border-radius:0;
	color: #FFF;
	position: relative;
	font-size: 13px;
	font-family: 'NeoSansIntel',Tahoma,"Open Sans",Verdana,Arial,serif;
}

.footer-bawah
{
	width: 100%;
	background-color: #34495e;
	border-radius:0;
	color: #FFF;
	position: relative;
	padding-top: 15px;
	font-size: 13px;
	text-align: center;
	font-family: 'NeoSansIntel',Tahoma,"Open Sans",Verdana,Arial,serif;
}


.logo-footer {
	position: relative;
	height: 80px;
}

.logo-footer img{
	height: 100%;
}


.footer-content .social-links {
	margin: 20px 0;
}
.footer-content .social-links li {
	margin: 0 5px 5px 0;
}
.footer-content .social-links li a {
	color: #666;
	background-color: transparent;
	border-color: #666;
}
.footer-content .social-links li a:hover {
	color: #fff;
	background-color: #666;
	border-color: #666;
}

/* Social icons block
---------------------------------- */
.social-links {
	list-style: none;
	font-size: 0;
	padding: 0;
	margin: 40px 0 20px 0;
}
.social-links li {
	display: inline-block;
	margin: 0 2px 2px 0;
}
.social-links li a {
	width: 45px;
	height: 45px;
	display: block;
	text-align: center;
	font-size: 20px;
	background: #e84c3d;
	border: 1px solid #e84c3d;
	color: #fff;
}
.social-links.radius-5px li a {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.social-links.circle li a {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.social-links li a:hover {
	background-color: transparent;
	border-color: #cd3c2e;
	color: #cd3c2e;
}
.social-links li a i {
	line-height: 44px;
}
.footer-content .social-links li {
	margin: 0 5px 5px 0;
}
.footer-content .social-links li a {
	color: #666;
	background-color: transparent;
	border-color: #666;
}
.footer-content .social-links li a:hover {
	color: #fff;
	background-color: #666;
	border-color: #666;
}
.social-links li.twitter a:hover,
.colored.social-links li.twitter a {
	background-color: #55acee;
	border-color: #55acee;
	color: #fff;
}
.social-links li.googleplus a:hover,
.colored.social-links li.googleplus a {
	background-color: #dd4b39;
	border-color: #dd4b39;
	color: #fff;
}
.social-links li.facebook a:hover,
.colored.social-links li.facebook a {
	background-color: #3b5998;
	border-color: #3b5998;
	color: #fff;
}


/* ....... */
.social-links li.twitter a:hover,
.colored.social-links li.twitter a {
	background-color: #55acee;
	border-color: #55acee;
	color: #fff;
}
.social-links li.skype a:hover,
.colored.social-links li.skype a {
	background-color: #00aff0;
	border-color: #00aff0;
	color: #fff;
}
.social-links li.linkedin a:hover,
.colored.social-links li.linkedin a {
	background-color: #0976b4;
	border-color: #0976b4;
	color: #fff;
}
.social-links li.googleplus a:hover,
.colored.social-links li.googleplus a {
	background-color: #dd4b39;
	border-color: #dd4b39;
	color: #fff;
}
.social-links li.youtube a:hover,
.colored.social-links li.youtube a {
	background-color: #b31217;
	border-color: #b31217;
	color: #fff;
}
.social-links li.flickr a:hover,
.colored.social-links li.flickr a {
	background-color: #ff0084;
	border-color: #ff0084;
	color: #fff;
}
.social-links li.facebook a:hover,
.colored.social-links li.facebook a {
	background-color: #3b5998;
	border-color: #3b5998;
	color: #fff;
}
.social-links li.pinterest a:hover,
.colored.social-links li.pinterest a {
	background-color: #cb2027;
	border-color: #cb2027;
	color: #fff;
}
.social-links li.instagram a:hover,
.colored.social-links li.instagram a {
	background-color: #517fa4;
	border-color: #517fa4;
	color: #fff;
}
.social-links li.vimeo a:hover,
.colored.social-links li.vimeo a {
	background-color: #aad450;
	border-color: #aad450;
	color: #fff;
}
.social-links li.tumblr a:hover,
.colored.social-links li.tumblr a {
	background-color: #32506d;
	border-color: #32506d;
	color: #fff;
}
.social-links li.soundcloud a:hover,
.colored.social-links li.soundcloud a {
	background-color: #ff3a00;
	border-color: #ff3a00;
	color: #fff;
}
.social-links li.foursquare a:hover,
.colored.social-links li.foursquare a {
	background-color: #0072b1;
	border-color: #0072b1;
	color: #fff;
}